fastapi
pydantic==2.3.0
pydantic_core==2.6.3
requests==2.32.3
pymupdf==1.22.5
mangum==0.17.0
PyMuPDF
opencv-python
numpy
Pillow
#pytesseract
PyPDF2
pyzbar
beautifulsoup4
urllib3
openai
cryptography
uvicorn